
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.e-craze.com$
RewriteRule ^mail$ "http\:\/\/mail\.google\.com\/a\/e\-craze\.com" [R=301,L]

RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

